# Core libraries
numpy
pandas
scipy

# Machine Learning libraries
scikit-learn
tensorflow
keras

# Data Collection and Preprocessing
requests
beautifulsoup4

# Geospatial and Routing Libraries
geopandas
folium
osmnx

# Testing Libraries
pytest

# Visualization Libraries
matplotlib
seaborn

